Repository RE-SS3D/SS3D, pull requests merged in 2020-05, with the labels that each got.

#190 Update door script to position caps in correct place
  Assets/Content/Scenes/MainScene.unity
  Assets/Content/Structures/Fixtures/Door.cs
  Assets/Content/Structures/Fixtures/airlock.prefab
Labels: bug, scene changes

#208 Scale Fixing
  Assets/Art/Materials/Palette05 Emission.mat
  Assets/Art/Materials/Palette05 Emission.mat.meta
  Assets/Art/Models/Furniture/Storage/locker.fbx
  Assets/Art/Models/Items/Functional/Tools/Generic/crowbars.fbx
  Assets/Art/Models/Items/Functional/Tools/Generic/flashlights.fbx
  Assets/Art/Models/Items/Functional/Tools/Generic/multitool.fbx
  Assets/Art/Models/Items/Functional/Tools/Generic/screwdrivers.fbx
  Assets/Art/Models/Items/Functional/Tools/Generic/welders.fbx
  Assets/Art/Models/Items/Functional/Tools/Generic/wrenches.fbx
  Assets/Art/Textures/Palette05 Opacity.png
  Assets/Art/Textures/Palette05 Opacity.png.meta
  Assets/Art/Textures/Palette05.png
  Assets/Content/Furniture/Storage/locker.prefab
  Assets/Content/Items/Functional/Tools/crowbar.prefab
  Assets/Content/Items/Functional/Tools/flashlight.prefab
  Assets/Content/Items/Functional/Tools/multitool.prefab
  Assets/Content/Items/Functional/Tools/screwdriver.prefab
  Assets/Content/Items/Functional/Tools/welder.prefab
  Assets/Content/Items/Functional/Tools/wrench.prefab
  Assets/Content/Scenes/MainScene.unity
  Assets/Content/Systems/Managers/RoundManager.prefab
Labels: fix

#210 Adds a few more items
  Assets/Art/Models/Items/Functional/Generic/boombox.fbx
  Assets/Art/Models/Items/Functional/Generic/boombox.fbx.meta
  Assets/Art/Models/Items/Functional/Generic/paper.fbx
  Assets/Art/Models/Items/Functional/Generic/paper.fbx.meta
  Assets/Art/Models/Items/Functional/Generic/pens.fbx
  Assets/Art/Models/Items/Functional/Generic/pens.fbx.meta
  Assets/Art/Models/Items/Functional/Generic/soap.fbx
  Assets/Art/Models/Items/Functional/Generic/soap.fbx.meta
  Assets/Art/Models/Items/Functional/Generic/toolboxes.fbx
  Assets/Art/Models/Items/Functional/Generic/toolboxes.fbx.meta
  Assets/Content/Furniture/Storage/locker.prefab
  Assets/Content/Items/Functional/Generic/Paper Note1.prefab
  Assets/Content/Items/Functional/Generic/Paper Note1.prefab.meta
  Assets/Content/Items/Functional/Generic/Paper.prefab
  Assets/Content/Items/Functional/Generic/Paper.prefab.meta
  Assets/Content/Items/Functional/Generic/PaperBin.prefab
  Assets/Content/Items/Functional/Generic/PaperBin.prefab.meta
  Assets/Content/Items/Functional/Generic/boombox.prefab
  Assets/Content/Items/Functional/Generic/boombox.prefab.meta
  Assets/Content/Items/Functional/Generic/pen.prefab
  Assets/Content/Items/Functional/Generic/pen.prefab.meta
  Assets/Content/Items/Functional/Generic/soap.prefab
  Assets/Content/Items/Functional/Generic/soap.prefab.meta
  Assets/Content/Items/Functional/Generic/toolbox.prefab
  Assets/Content/Items/Functional/Generic/toolbox.prefab.meta
  Assets/Content/Scenes/MainScene.unity
Labels: asset

#212 Adjusts airlock prefabs
  Assets/Content/Structures/Fixtures/Doors/airlock.prefab
  Assets/Content/Structures/Fixtures/Doors/doubleairlock.prefab
Labels: asset

#213 Update Wall and Window Models/Prefabs
  Assets/Art/Models/Structures/Walls and Windows/walls and windows.fbx
  Assets/Art/Models/Structures/Walls and Windows/walls and windows.fbx.meta
  Assets/Art/Models/Structures/Walls and Windows/walls.fbx
  Assets/Content/Structures/Fixtures/Doors/Door Frame.prefab
  Assets/Content/Structures/Fixtures/Doors/Double Door Frame.prefab
  Assets/Content/Structures/Walls/Assemblies/Reinforced Wall Phase 1.prefab
  Assets/Content/Structures/Walls/Assemblies/Reinforced Wall Phase 1.prefab.meta
  Assets/Content/Structures/Walls/Assemblies/Wall Girder.prefab
  Assets/Content/Structures/Walls/Assemblies/Wall Girder.prefab.meta
  Assets/Content/Structures/Walls/Assemblies/Wall Phase 1.prefab
  Assets/Content/Structures/Walls/Assemblies/Wall Phase 1.prefab.meta
  Assets/Content/Structures/Walls/BasicWall.prefab
  Assets/Content/Structures/Walls/GlassWall.prefab
  Assets/Content/Structures/Walls/ReinforcedGlassWall.prefab
  Assets/Content/Structures/Walls/ReinforcedWall.prefab
Labels: asset

#222 Add seats
  Assets/Art/Models/Furniture/Generic/Seats/chairs.fbx
  Assets/Art/Models/Furniture/Generic/Seats/chairs.fbx.meta
  Assets/Art/Models/Furniture/Generic/Seats/officechair.fbx
  Assets/Art/Models/Furniture/Generic/Seats/officechair.prefab
  Assets/Art/Models/Furniture/Generic/Seats/stools.fbx
  Assets/Art/Models/Furniture/Generic/Seats/stools.fbx.meta
  Assets/Art/Models/Items/Functional/Containers/Fluid.meta
  Assets/Content/Furniture/Generic/Seats.meta
  Assets/Content/Furniture/Generic/Seats/Bar Stool.asset
  Assets/Content/Furniture/Generic/Seats/Bar Stool.asset.meta
  Assets/Content/Furniture/Generic/Seats/Bar Stool.prefab
  Assets/Content/Furniture/Generic/Seats/Bar Stool.prefab.meta
  Assets/Content/Furniture/Generic/Seats/Office Chair.asset
  Assets/Content/Furniture/Generic/Seats/Office Chair.asset.meta
  Assets/Content/Furniture/Generic/Seats/Office Chair.prefab
  Assets/Content/Furniture/Generic/Seats/Office Chair.prefab.meta
  Assets/Content/Furniture/Generic/Seats/Plastic Chair.asset
  Assets/Content/Furniture/Generic/Seats/Plastic Chair.asset.meta
  Assets/Content/Furniture/Generic/Seats/Plastic Chair.prefab
  Assets/Content/Furniture/Generic/Seats/Plastic Chair.prefab.meta
  Assets/Content/Items/Functional/Containers/Fluid.meta
  Assets/Content/Scenes/MainScene.unity
Labels: asset

#241 Updates Lights Assets/Content
  Assets/Art/Models/Items/Functional/Parts.meta
  Assets/Art/Models/Items/Functional/Parts/light frames and bulbs.fbx
  Assets/Art/Models/Items/Functional/Parts/light frames and bulbs.fbx.meta
  Assets/Art/Models/Structures/Wall Mounts/light fixtures.fbx
  Assets/Art/Models/Structures/Wall Mounts/light fixtures.fbx.meta
  Assets/Art/Models/Structures/Wall Mounts/lights.fbx
  Assets/Content/Items/Functional/Parts.meta
  Assets/Content/Items/Functional/Parts/Light Bulb Broken.prefab
  Assets/Content/Items/Functional/Parts/Light Bulb Broken.prefab.meta
  Assets/Content/Items/Functional/Parts/Light Bulb Frame.prefab
  Assets/Content/Items/Functional/Parts/Light Bulb Frame.prefab.meta
  Assets/Content/Items/Functional/Parts/Light Bulb.prefab
  Assets/Content/Items/Functional/Parts/Light Bulb.prefab.meta
  Assets/Content/Items/Functional/Parts/Light Tube Broken1.prefab
  Assets/Content/Items/Functional/Parts/Light Tube Broken1.prefab.meta
  Assets/Content/Items/Functional/Parts/Light Tube Broken2.prefab
  Assets/Content/Items/Functional/Parts/Light Tube Broken2.prefab.meta
  Assets/Content/Items/Functional/Parts/Light Tube Frame.prefab
  Assets/Content/Items/Functional/Parts/Light Tube Frame.prefab.meta
  Assets/Content/Items/Functional/Parts/Light Tube.prefab
  Assets/Content/Items/Functional/Parts/Light Tube.prefab.meta
  Assets/Content/Items/Functional/Tools/Generic/desk lamp.prefab
  Assets/Content/Items/Functional/Tools/Generic/flashlight.prefab
  Assets/Content/Scenes/MainScene.unity
  Assets/Content/Structures/Wall Mounts.meta
  Assets/Content/Structures/Wall Mounts/Light Bulb Fixture.prefab
  Assets/Content/Structures/Wall Mounts/Light Bulb Fixture.prefab.meta
  Assets/Content/Structures/Wall Mounts/Light Tube Fixture.prefab
  Assets/Content/Structures/Wall Mounts/Light Tube Fixture.prefab.meta
Labels: asset
