Repository RE-SS3D/SS3D, pull requests merged in 2021-08, with the labels that each got.

#776 Allows clients to join at any time.
  Assets/Content/Scenes/ServerLobby.unity
  Assets/Content/Systems/UI/Engine/ServerLobby/ServerLobbyUI.prefab
  Assets/Engine/Server/Helpers/PlayerCountDisplay.cs
  Assets/Engine/Server/Helpers/PlayerCountDisplay.cs.meta
  Assets/Engine/Server/Mirror/LoginNetworkManager.cs
  Assets/Engine/Server/Mirror/SceneLoaderManager.cs
  Assets/Engine/Server/Round/RoundManager.cs
Labels: Type: Fix

#779 Chat fixes
  Assets/Content/Scenes/ServerLobby.unity
  Assets/Content/Systems/Player/HumanoidMovementController.cs
  Assets/Content/Systems/UI/Game/Chat/ChatFilterOption.prefab
  Assets/Content/Systems/UI/Game/Chat/ChatTabButton.prefab
  Assets/Content/Systems/UI/Game/Chat/ChatWindow.prefab
  Assets/Content/Systems/UI/Game/Inventory/HumanoidInventory/InventoryUIBeep.prefab
  Assets/Content/Systems/UI/Game/Inventory/HumanoidInventory/ToggleBodyInventory.anim
  Assets/Engine/Chat/ChatRegister.cs
  Assets/Engine/Chat/ChatTab.cs
  Assets/Engine/Chat/ChatWindow.cs
  Assets/Engine/Chat/ResizePanel.cs
  Assets/Engine/Chat/ToggleChat.cs
  Assets/Engine/Inventory/Extensions/Hands.cs
  ProjectSettings/InputManager.asset
Labels: System: Chat

#783 Use true velocity for Humanoid animator, Fixed updating mistake
  Assets/Content/Systems/Player/HumanoidMovementController.cs
Labels: Objects: Entities

#789 Add pressing "T" to open and focus chat
  Assets/Content/Scenes/ServerLobby.unity
  Assets/Engine/Chat/ChatWindow.cs
  Assets/Engine/Chat/ToggleChat.cs
  ProjectSettings/InputManager.asset
Labels: System: Chat
