Repository RE-SS3D/SS3D, pull requests merged in 2021-09, with the labels that each got.

#799 Prevent multiple audio listeners
  Assets/Content/Systems/Player/PlayerListener.cs
Labels: Type: Fix

#800 Prevents duplicate Examinators and ExamineUIs
  Assets/Engine/Examine/Examinator.cs
Labels: Type: Fix, System: Examine

#801 Container system: Resolve error in Container.Dump()
  .gitignore
  Assets/Engine/Inventory/Container.cs
Labels: Type: Fix, System: Containers

#802 Removed inconsistent ranges for opening/closing and viewing lockers.
  Assets/Content/Systems/Interactions/OpenInteraction.cs
Labels: Type: Fix, System: Containers, System: Interactions

#805 Fix chat message sending when out of focus
  Assets/Content/Systems/UI/Game/Chat/ChatWindow.prefab
  Assets/Engine/Chat/ChatWindow.cs
Labels: Type: Fix, System: Communications

#804 Improve Intent Button Appearance
  Assets/Content/Systems/UI/Game/Inventory/HumanoidInventory/InventoryUIBeep.prefab
  Assets/Engine/Interactions/IntentManager.cs
  Assets/Engine/Inventory/UI/ToggleBodyTargetUI.cs
Labels: System: User Interface

#812 Container System: Resolve ContainerSync OutOfRangeException on client embark
  Assets/Engine/Inventory/AttachedContainerGenerator.cs
  Assets/Engine/Inventory/ContainerSync.cs
  Assets/Engine/Inventory/Extensions/Hands.cs
Labels: Type: Fix, System: Containers
